<% include partials/header %>
<form method="POST" action="users/add">
	<label>First name</label><br />
	<input type="text" name="first_name">
	<br />
	<label>Last name</label><br />
	<input type="text" name="last_name" >
	<br />
	<label>Email address</label><br />
	<input type="text" name="email">
	<br /><br />
	<input type="submit" value="Submit">
</form>
<H1><%= title %></H1>
<ul>
	<% users.forEach(function(user){ %>
  <li><%= user.first_name %> <%= user.last_name %> - <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a></li>
	<% }) %>
	</ul>
<% include partials/footer %>
